[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CrossVA"]
	path = CrossVA
	url = https://github.com/cran/CrossVA
[submodule "InterVA5"]
	path = InterVA5
	url = https://github.com/cran/InterVA5
